<div class="rows-container">
  <div class="circles-row">
    <app-hand-circle [hand]="handEnum.Scissors"></app-hand-circle>
  </div>
  <div class="circles-row circles-row--second row-padding">
    <app-hand-circle [hand]="handEnum.Spock"></app-hand-circle>
    <app-hand-circle [hand]="handEnum.Paper"></app-hand-circle>
  </div>
  <div class="circles-row circles-row--third row-padding">
    <app-hand-circle [hand]="handEnum.Lizard"></app-hand-circle>
    <app-hand-circle [hand]="handEnum.Rock"></app-hand-circle>
  </div>
</div>
