.rows-container {

  width: 50%;
  padding: 0 0 50px 0;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;

  .circles-row {
    display: flex;
    justify-content: center;

    &--first-basic {
      justify-content: space-between;
    }

    &--second-basic {
      padding-top: 70px;
    }

    &--second-advanced {
      justify-content: space-between;
      padding-top: 20px;
    }

    &--third-advanced {
      justify-content: space-around;
      padding-top: 40px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .rows-container {
    width: 100%;
  }
}
