.rows-container {
  padding: 50px 0;
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;

  .circles-row {
    display: flex;
    justify-content: center;

    &--first-basic {
      justify-content: space-between;
    }

    &--second-basic {
      padding-top: 70px;
    }

    &--second-advanced {
      justify-content: space-between;
      padding-top: 20px;
    }

    &--third-advanced {
      justify-content: space-around;
      padding-top: 40px;
    }
  }
}
