<div class="container">
  <div class="content">
    <div class="header-container">
      <app-header [score]="2" [gameType]="gameTypeEnum.Advanced"></app-header>
    </div>
    <div class="hand-circles-container">
      <div>
        <app-hand-circle></app-hand-circle>
        <app-hand-circle></app-hand-circle>
      </div>
    </div>
    <div class="buttons-container">
      <app-button [label]="'rules'"></app-button>
      <app-button [label]="'advanced'"></app-button>
      <app-button [label]="'reset'"></app-button>
    </div>
  </div>
</div>
