@mixin colored-circle($center-color, $side-color, $shadow-color) {
  background-image: radial-gradient($center-color, $side-color);
  box-shadow: 0 10px 0 -5px $shadow-color;
}

@keyframes winner {
  100% {
    box-shadow: 0 0 0 30px rgb(255 255 255 / 2%),
                0 0 0 60px rgb(255 255 255 / 4%),
                0 0 0 90px rgb(255 255 255 / 6%);
  }
}

.colored-border {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .white-circle {
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .hand-icon {
      width: 60%;
      height: 60%;
    }
  }

  &--big {
    width: 150px;
    height: 150px;

    .white-circle {
      width: 120px;
      height: 120px;
    }
  }

  &--winner {
    animation: 1s ease 0s 1 normal forwards running winner;
  }


  &:active {
    transform: scale(0.9);
  }

  &--blue {
    @include colored-circle(hsl(230, 89%, 62%), hsl(230, 89%, 65%), #2944c2);
  }

  &--red {
    @include colored-circle(hsl(349, 71%, 52%), hsl(349, 70%, 56%), #9e1633);
  }

  &--yellow {
    @include colored-circle(hsl(39, 89%, 49%), hsl(40, 84%, 53%), #cb6b18);
  }

  &--lightblue {
    @include colored-circle(hsl(189, 59%, 53%), hsl(189, 58%, 57%), #2d8fab);
  }

  &--violet {
    @include colored-circle(hsl(261, 73%, 60%), hsl(261, 72%, 63%), #5e36ac);
  }
}


