.score-frame {
  border: 2px solid #606e85;
  border-radius: 8px;
  padding: 20px;

  min-height: 100px;
  font-weight: 700;
  color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 32px;
}

.score-container {
  background-color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
  min-width: 90px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.score-label {
  color: #8697E4;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}

.score-value {
  color: #3B4363;
  font-size: 56px;
  line-height: 56px;
}
